framework/wcf/Basic/Contract/Data/ObjectReferences/CS/client/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Microsoft.Samples.ObjectReferences" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Microsoft.Samples.ObjectReferences" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Microsoft.Samples.ObjectReferences/Imports">
      <xsd:import schemaLocation="http://localhost/servicemodelsamples/service.svc?xsd=xsd0" namespace="Microsoft.Samples.ObjectReferences" />
      <xsd:import schemaLocation="http://localhost/servicemodelsamples/service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/servicemodelsamples/service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.ObjectReferences" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialNetwork_GetPeopleInNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleInNetwork" />
  </wsdl:message>
  <wsdl:message name="ISocialNetwork_GetPeopleInNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleInNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialNetwork_GetMutualFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMutualFriends" />
  </wsdl:message>
  <wsdl:message name="ISocialNetwork_GetMutualFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMutualFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialNetwork_GetCommonFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonFriends" />
  </wsdl:message>
  <wsdl:message name="ISocialNetwork_GetCommonFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonFriendsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocialNetwork">
    <wsdl:operation name="GetPeopleInNetwork">
      <wsdl:input wsaw:Action="Microsoft.Samples.ObjectReferences/ISocialNetwork/GetPeopleInNetwork" message="tns:ISocialNetwork_GetPeopleInNetwork_InputMessage" />
      <wsdl:output wsaw:Action="Microsoft.Samples.ObjectReferences/ISocialNetwork/GetPeopleInNetworkResponse" message="tns:ISocialNetwork_GetPeopleInNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMutualFriends">
      <wsdl:input wsaw:Action="Microsoft.Samples.ObjectReferences/ISocialNetwork/GetMutualFriends" message="tns:ISocialNetwork_GetMutualFriends_InputMessage" />
      <wsdl:output wsaw:Action="Microsoft.Samples.ObjectReferences/ISocialNetwork/GetMutualFriendsResponse" message="tns:ISocialNetwork_GetMutualFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommonFriends">
      <wsdl:input wsaw:Action="Microsoft.Samples.ObjectReferences/ISocialNetwork/GetCommonFriends" message="tns:ISocialNetwork_GetCommonFriends_InputMessage" />
      <wsdl:output wsaw:Action="Microsoft.Samples.ObjectReferences/ISocialNetwork/GetCommonFriendsResponse" message="tns:ISocialNetwork_GetCommonFriends_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>