framework/windows-workflow-foundation/application/HiringRequestProcess/CS/InternalClient/App_WebReferences/Contoso/HiringRequestService/HiringRequestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Samples.ContosoHR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.ContosoHR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Contoso/HiringRequestService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="HiringRequestInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="PositionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequesterId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowInstanceId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HiringRequestInfo" nillable="true" type="tns:HiringRequestInfo" />
</xs:schema>