framework/windows-workflow-foundation/application/HiringRequestProcess/CS/InternalClient/App_WebReferences/Contoso/HiringRequestService/HiringRequestProcessServiceDefinition.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HiringRequestProcessServiceDefinition" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Contoso/HiringRequestService?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.ContosoHR" />
      <xsd:import schemaLocation="http://localhost:8080/Contoso/HiringRequestService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Contoso/HiringRequestService?xsd=xsd2" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHiringRequestService_StartProcess_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Samples.ContosoHR" name="HiringRequestInfo" element="q1:HiringRequestInfo" />
  </wsdl:message>
  <wsdl:message name="IHiringRequestService_ReceiveManagerApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveManagerApproval" />
  </wsdl:message>
  <wsdl:message name="IHiringRequestService_CompleteReview_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteReview" />
  </wsdl:message>
  <wsdl:message name="IHiringRequestService_ReceiveDeptOwnerApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDeptOwnerApproval" />
  </wsdl:message>
  <wsdl:message name="IHiringRequestService_ReceiveHrManagerApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveHrManagerApproval" />
  </wsdl:message>
  <wsdl:portType name="IHiringRequestService">
    <wsdl:operation name="StartProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IHiringRequestService/StartProcess" message="tns:IHiringRequestService_StartProcess_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveManagerApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IHiringRequestService/ReceiveManagerApproval" message="tns:IHiringRequestService_ReceiveManagerApproval_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompleteReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IHiringRequestService/CompleteReview" message="tns:IHiringRequestService_CompleteReview_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeptOwnerApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IHiringRequestService/ReceiveDeptOwnerApproval" message="tns:IHiringRequestService_ReceiveDeptOwnerApproval_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveHrManagerApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IHiringRequestService/ReceiveHrManagerApproval" message="tns:IHiringRequestService_ReceiveHrManagerApproval_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHiringRequestService" type="tns:IHiringRequestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartProcess">
      <soap:operation soapAction="http://tempuri.org/IHiringRequestService/StartProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveManagerApproval">
      <soap:operation soapAction="http://tempuri.org/IHiringRequestService/ReceiveManagerApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CompleteReview">
      <soap:operation soapAction="http://tempuri.org/IHiringRequestService/CompleteReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeptOwnerApproval">
      <soap:operation soapAction="http://tempuri.org/IHiringRequestService/ReceiveDeptOwnerApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveHrManagerApproval">
      <soap:operation soapAction="http://tempuri.org/IHiringRequestService/ReceiveHrManagerApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HiringRequestProcessServiceDefinition">
    <wsdl:port name="BasicHttpBinding_IHiringRequestService" binding="tns:BasicHttpBinding_IHiringRequestService">
      <soap:address location="http://localhost:8080/Contoso/HiringRequestService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>