framework/windows-workflow-foundation/application/HiringRequestProcess/CS/CareersWebSite/App_WebReferences/Contoso/ResumeService/ResumeRequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResumeRequestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18564/ResumeRequestService.xamlx?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.ContosoHR" />
      <xsd:import schemaLocation="http://localhost:18564/ResumeRequestService.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18564/ResumeRequestService.xamlx?xsd=xsd2" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobPostingService_StartProcess_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Samples.ContosoHR" name="JobPosting" element="q1:JobPosting" />
  </wsdl:message>
  <wsdl:message name="IJobPostingService_ReceiveJobPostingData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveJobPostingData" />
  </wsdl:message>
  <wsdl:message name="IJobPostingService_ReceiveResume_InputMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Samples.ContosoHR" name="JobPostingResume" element="q2:JobPostingResume" />
  </wsdl:message>
  <wsdl:message name="IJobPostingService_StopProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:StopProcess" />
  </wsdl:message>
  <wsdl:portType name="IJobPostingService">
    <wsdl:operation name="StartProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostingService/StartProcess" message="tns:IJobPostingService_StartProcess_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveJobPostingData">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostingService/ReceiveJobPostingData" message="tns:IJobPostingService_ReceiveJobPostingData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveResume">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostingService/ReceiveResume" message="tns:IJobPostingService_ReceiveResume_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostingService/StopProcess" message="tns:IJobPostingService_StopProcess_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobPostingService" type="tns:IJobPostingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartProcess">
      <soap:operation soapAction="http://tempuri.org/IJobPostingService/StartProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveJobPostingData">
      <soap:operation soapAction="http://tempuri.org/IJobPostingService/ReceiveJobPostingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveResume">
      <soap:operation soapAction="http://tempuri.org/IJobPostingService/ReceiveResume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopProcess">
      <soap:operation soapAction="http://tempuri.org/IJobPostingService/StopProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResumeRequestService">
    <wsdl:port name="BasicHttpBinding_IJobPostingService" binding="tns:BasicHttpBinding_IJobPostingService">
      <soap:address location="http://localhost:18564/ResumeRequestService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>