framework/windows-workflow-foundation/application/HiringRequestProcess/CS/InternalClient/App_WebReferences/Contoso/OrgService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" />
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetDepartmentResult" nillable="true" type="q2:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetPositionResult" nillable="true" type="q3:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionTypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetPositionTypeResult" nillable="true" type="q4:PositionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetAllEmployeesResult" nillable="true" type="q5:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetEmployeesByPositionResult" nillable="true" type="q6:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetAllDepartmentsResult" nillable="true" type="q7:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetAllPositionsResult" nillable="true" type="q8:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPositionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPositionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Organization" minOccurs="0" name="GetAllPositionTypesResult" nillable="true" type="q9:ArrayOfPositionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>