framework/wcf/Basic/Contract/Data/POCO/CS/client/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Samples.POCO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="Imaginary" type="xs:double" />
      <xs:element minOccurs="0" name="Real" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexNumber" nillable="true" type="tns:ComplexNumber" />
</xs:schema>