framework/windows-workflow-foundation/scenario/Services/AsynchronousCommunication/CS/RentalApprovalService/Service References/ServiceReference1/CreditCheckService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditCheckService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpContextBinding_ICreditCheckService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <HttpUseCookie xmlns="http://schemas.xmlsoap.org/soap/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19292/CreditCheckService.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreditCheckService_ValidateCredit_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="int" element="q1:int" />
  </wsdl:message>
  <wsdl:message name="ICreditCheckService_ValidateCredit_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="boolean" element="q2:boolean" />
  </wsdl:message>
  <wsdl:message name="ICreditCheckService_ValidateValue_InputMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="int" element="q3:int" />
  </wsdl:message>
  <wsdl:message name="ICreditCheckService_ValidateValue_OutputMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="boolean" element="q4:boolean" />
  </wsdl:message>
  <wsdl:portType name="ICreditCheckService">
    <wsdl:operation name="ValidateCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCheckService/ValidateCredit" message="tns:ICreditCheckService_ValidateCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCheckService/ValidateCreditResponse" message="tns:ICreditCheckService_ValidateCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCheckService/ValidateValue" message="tns:ICreditCheckService_ValidateValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCheckService/ValidateValueResponse" message="tns:ICreditCheckService_ValidateValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpContextBinding_ICreditCheckService" type="tns:ICreditCheckService">
    <wsp:PolicyReference URI="#BasicHttpContextBinding_ICreditCheckService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateCredit">
      <soap:operation soapAction="http://tempuri.org/ICreditCheckService/ValidateCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateValue">
      <soap:operation soapAction="http://tempuri.org/ICreditCheckService/ValidateValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCheckService">
    <wsdl:port name="BasicHttpContextBinding_ICreditCheckService" binding="tns:BasicHttpContextBinding_ICreditCheckService">
      <soap:address location="http://localhost:19292/CreditCheckService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>