framework/windows-workflow-foundation/application/HiringRequestProcess/CS/HiringReqService/Service References/Contoso.InboxService/Microsoft.Samples.Inbox.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Inbox" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.Inbox" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInboxItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InboxItem" nillable="true" type="tns:InboxItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInboxItem" nillable="true" type="tns:ArrayOfInboxItem" />
  <xs:complexType name="InboxItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="InboxEntryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InboxItem" nillable="true" type="tns:InboxItem" />
</xs:schema>